@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 bg-white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

/* Selection */
::selection {
  @apply bg-gervasio-blue text-white;
}
